.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
  padding: 20px;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
